body {
  background: rgb(25, 25, 25);
  font-family: monospace;
}

label {
  color: rgb(150, 150, 150);
}

select {
  padding: 2px 6px;
  color: rgb(150, 150, 150);
  background: rgb(25, 25, 25);
  border-radius: 4px;
}

h1 {
  color: white;
  font-size: 125px;
  margin: 0 auto;
}

button {
  font-family: monospace;
  color: white;
  margin: 30px 15px 15px;
  font-size: 25px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  transition: all 150ms ease-in-out;
  opacity: 0.7;
  cursor: pointer;
}

p {
  color: rgb(150, 150, 150);
  text-align: center;
  margin: 10px;
}

p a {
  color: rgb(150, 150, 150);
}

p a:hover {
  opacity: 0.7;
}

.theme-changer {
  text-align: center;
  margin: 50px auto;
}

.container {
  background: rgb(50, 50, 50);
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.start-btn {
  background: rgb(50, 115, 50);
  border: 2px solid rgb(28, 76, 28);
}

.stop-btn {
  background: rgb(140, 70, 70);
  border: 2px solid rgb(87, 39, 39);
}

.reset-btn {
  background: rgb(75, 75, 160);
  border: 2px solid rgb(42, 42, 99);
}

.light {
  background: white;
}

.light select {
  background: white;
}

.light h1 {
  color: rgb(50, 50, 50);
}

.light .container {
  background: rgb(230, 230, 230);
}

.light .start-btn {
  background: #7ccd7c;
  border: 2px solid #56aa56;
}

.light .stop-btn {
  background: #ce8989;
  border: 2px solid #b56262;
}

.light .reset-btn {
  background: #8d8de0;
  border: 2px solid #6868c1;
}

.underwater {
  background-image: url("background-images/underwater.jpg");
  background-size: cover;
}

.underwater label,
.underwater select {
  color: rgb(200, 200, 200);
}

.underwater select {
  background: #058d7f;
  border: 1px solid rgb(200, 200, 200);
}

.underwater .container {
  opacity: 0.6;
}

.underwater .start-btn {
  background: #06978c;
  border: 2px solid #00635a;
}

.underwater .stop-btn {
  background: #006266;
  border: 2px solid #004143;
}

.underwater .reset-btn {
  background-color: #01434b;
  border: 2px solid #003239;
}

.nature {
  background-image: url("background-images/bridge.jpg");
  background-size: cover;
}

.nature label,
.nature select {
  color: rgb(255, 255, 255);
}

.nature select {
  background: #86a756;
}

.nature .container {
  opacity: 1;
}

.nature p,
.nature a {
  color: rgb(200, 200, 200);
}

.nature .start-btn {
  background: #606f2d;
  border: 2px solid #45511b;
}

.nature .stop-btn {
  background: #a6b777;
  border: 2px solid #898d4a;
}

.nature .reset-btn {
  background: #786d6c;
  border: 2px solid #4e4342;
}
